<h1>Customer Show </h1>
<p>Customer Name: <%= @customer.name %><p>

<h3>Items: </h3>
<ul>
  <% @customer.items.each do |item| %>
    <li id="item_<%= item.id %>">
      <%= item.name %>
      <ul>
        <li>Price: <%= item.price %></li>
        <li>Supermarket: <%= item.supermarket.name %>
      </ul>
    </li>
  <% end %>
</ul>